<table class="table table-striped">
    <tr>
        <th class="col-md-2">
            <span ng-show="!bycompany" ng-click="bycompany=!bycompany">Company</span>
            <input ng-show="bycompany" ng-blur="bycompany=!bycompany" ng-model="question.qCompany"
            ng-model-options="{debounce: 1000}">
        </th>
        <th class="col-md-9">
            Question
        </th>
        <th class="col-md-1">Date</th>
    </tr>
    <tfoot>
        <tr>
            <td colspan="3">Total question: {{question.qCount}}</td>
        </tr>
    </tfoot>
    <tr ng-repeat="q in question.qs" ng-click="question.showInterview(q.interview._id)">
        <td ng-attr-title="{{q.interview.Client}}">{{q.interview.Client|limitTo: 20}}</td>
        <td ng-attr-title="{{q.question}}">{{q.question | limitTo: 120}}</td>
        <td>{{q.interview.Date | date:'MM/dd/yyyy'}}</td>
    </tr>
</table>
<uib-pagination max-size=10 total-items="question.qCount" items-per-page="question.qSize"
ng-model="question.qPage" ng-change="question.loadQuestions()" boundary-links="true"></uib-pagination>
